{% extends 'site.html' %}
{% set food_icons = ['burger', 'cloud-meatball', 'candy-cane', 'ice-cream', 'pizza-slice'] %}
{% set drink_icons = ['mug-hot', 'whiskey-glass'] %}
{% set alc_icons = ['beer-mug-empty', 'martini-glass', 'wine-bottle'] %}

{% block pagetitle %}
    {% if impersonate_user is not none %}
        <span class="text-danger me-3">Impersonating {{ impersonate_user.name }}</span>
        <a role="button" class="btn btn-danger" href="{{ url_for('admin.users.pop_impersonate') }}">Disable</a>
    {% endif %}
{% endblock %}

{% block infobar %}
    {% if current_user.is_authenticated %}
        <li class="nav-item">
            <span class="nav-link text-dark">User: {{ user_name }}</span>
        </li>
        <li class="nav-item">
            <span class="nav-link text-dark">Balance: {{ macro.render_currency(balance) }}</span>
        </li>
    {% endif %}
{% endblock %}

{% block additional_buttons %}
    {% if view_all == True %}
        <a role="button" class="btn btn-outline-info me-2 active" href="{{ url_for('main.index') }}">View all</a>
    {% else %}
        <a role="button" class="btn btn-outline-info me-2" href="{{ url_for('main.index', view_all=True) }}">View
            all</a>
    {% endif %}
{% endblock %}

{% block content %}
    <form action="{{ url_for('main.index') }}" method="post">
        {{ form.csrf_token }}
        {% if session.get('terminal', False) %}
        <div class="row mt-2 mb-3 form">
            <div class="col">
                {{ form.ean(class="form-control")  }}
            </div>
            <div class="col-auto">
                <input type="submit" role="button" class="btn btn-primary">
            </div>
        </div>
        {% endif %}
        <div class="row row-cols-4 g-3">
            {% for product in products %}
                {% if product.visible or view_all %}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-outline-primary py-5 ps-5" name="product_id"
                                value="{{ product.id }}">
                            {% if product.is_food %}
                                {% set icon = (food_icons | random) %}
                            {% else %}
                                {% if product.has_alc %}
                                    {% set icon = (alc_icons | random) %}
                                {% else %}
                                    {% set icon = (drink_icons | random) %}
                                {% endif %}
                            {% endif %}
                            <i class="fa-solid fa-{{ icon }} fa-3x" style="float: left"></i>
                            {{ product.name }}<br>
                            {{ macro.render_currency(product.price) }}
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </form>
{% endblock %}
