{% extends 'site.html' %}
{% block infobar %}
    {% if current_user.is_authenticated %}
        <li class="nav-item">
            <span class="nav-link text-dark">User: {{ current_user.name }}</span>
        </li>
        <li class="nav-item">
            <span class="nav-link text-dark">Balance: {{ macro.render_currency(balance) }}</span>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <a role="button" href="{{ url_for('account.card') }}" class="btn btn-primary col p-4 m-2">Change Card</a>
        <a role="button" href="{{ url_for('account.pin') }}" class="btn btn-primary col p-4 m-2">Change PIN</a>
    </div>

    <div class="card" style="height: 50vh">
        <div class="card-header">
            Revenues
        </div>
        <div class="card-body overflow-scroll">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Product</th>
                    <th scope="col" class="text-end">Amount</th>
                </tr>
                </thead>
                <tbody>
                {% for revenue, product_name in revenues %}
                    <tr>
                        <td>{{ revenue.date.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>{{ product_name }}</td>
                        <td class="text-end">{{ macro.render_currency(revenue.amount) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
