{% extends 'base.html' %}
{% block pagetitle %}Statistics{% endblock %}

{% block content %}
    <p><b>Total user count:</b> {{ total_user_count }}</p>
    <p><b>Total product count:</b> {{ total_product_count }}</p>
    <p><b>Total outstanding balance:</b> {{ total_balance | format_currency }}</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">User</th>
            <th scope="col">Count</th>
        </tr>
        </thead>
        <tbody>
            {% for entry in results %}
                {% for user in entry["users"] %}
                    <tr>
                        <td>{{ entry["product"].name }}</td>
                        <td>{{ user.name }}</td>
                        <td class="text-end">{{ entry["count"] }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}