{% extends 'site.html' %}
{% block pagetitle %}
    {% if edit %}
        Edit product
    {% else %}
        Add product
    {% endif %}
{% endblock %}


{% block content %}
    <div class="d-flex justify-content-center">
        <form class="w-50" method="post" action="{{ url_for('admin.product') }}">
            {{ form.csrf_token }}
            {% if edit %}
                {{ macro.render_field(form.id) }}
            {% endif %}
            {{ macro.render_field(form.name) }}
            {{ macro.render_field(form.ean) }}
            {{ macro.render_field(form.price) }}
            {{ macro.render_checkbox(form.visible) }}
            {{ macro.render_checkbox(form.has_alc) }}
            {{ macro.render_checkbox(form.is_food) }}
            <div class="row mt-2">
                <button type="submit" class="col-5 mx-auto btn btn-success">
                    {% if edit %}
                        Update
                    {% else %}
                        Create
                    {% endif %}
                </button>
                <a role="button" href="{{ url_for('admin.product') }}" class="col-5 mx-auto btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}