{% extends 'site.html' %}
{% block pagetitle %}Users{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col" class="text-end" style="width: 10rem">Balance</th>
            <th scope="col">Card</th>
            <th scope="col">Admin</th>
            <th scope="col">PIN</th>
        </tr>
        </thead>
        <tbody>
        {% for user, balance in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td class="text-end">{{ balance | format_currency }}</td>
                <td>{% if user.card is not none %}registered{% endif %}</td>
                <td>{{ macro.render_bool(user.isop) }}</td>
                <td>{% if user.pin is not none %}set{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}