{% extends 'site.html' %}
{% block pagetitle %}Products{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">EAN</th>
            <th scope="col" class="text-end" style="width: 10rem">Price</th>
            <th scope="col" class="text-center">Visible</th>
            <th scope="col" class="text-center">Has Alcohol</th>
            <th scope="col" class="text-center">Is Food</th>
            <th class="d-grid"><a role="button" class="btn btn-success btn-sm"
                                  href="{{ url_for('admin.products.add') }}"><i
                    class="fa-solid fa-plus"></i></a></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.ean }}</td>
                <td class="text-end">{{ product.price | format_currency }}</td>
                <td class="text-center">{{ macro.render_bool(product.visible) }}</td>
                <td class="text-center">{{ macro.render_bool(product.has_alc) }}</td>
                <td class="text-center">{{ macro.render_bool(product.is_food) }}</td>
                <td class="row">
                    <a role="button" class="btn btn-primary btn-sm col mx-1"
                       href="{{ url_for('admin.products.edit', product_id=product.id) }}">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a role="button" class="btn btn-danger btn-sm col mx-1"
                       href="{{ url_for('admin.products.delete', product_id=product.id) }}">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}